@import url('https://fonts.googleapis.com/css2?family=Ponomar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ponomar", serif;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

.container {
    box-shadow: 1px 2px 3px rgb(122, 122, 122);
    padding: 3%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h2 {
    color: rgb(105, 105, 105);
    font-size: 18px;
    padding-bottom: 5%;
    font-weight: 300;
}

.template {
    padding: 2% 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
    width: 100%;
}

.templates-div {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    width: 90%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6%;
    cursor: pointer;
}
.templates-div:hover{
    border: 1px solid rgb(31, 28, 206);
    background-color: rgb(31, 28, 206, 0.14);
}
.templates-div span {
    color: gray;
    font-size: small;
}

.password-display {
    margin: 5% 0;
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}
#password{
    font-size: 18px;
}
.password-display button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 80px;
    height: 35px;
    border-radius: 7px;
    font-size: 16px;
    padding: 4%;
    border: none;
    background-color: #0000FF;
    color: white;
    cursor: pointer;
}

.strongth-pass {
    background-color: rgb(235, 235, 235);
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 5px;
}

.strongth-text {
    display: flex;
    justify-content: space-between
}

.strongth-line {
    display: flex;
    gap: 1%;
}

.strongth-line div {
    background-color: green;
    width: 25%;
    height: 5px;
    border-radius: 5px;
}

#generate-passw {
    width: 100%;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding: 1%;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
}