@import url('https://fonts.googleapis.com/css2?family=Ponomar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ponomar", serif;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

.container {
    box-shadow: 1px 2px 3px rgb(122, 122, 122);
    padding: 3%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h2 {
    color: rgb(105, 105, 105);
    font-size: 18px;
    padding-bottom: 5%;
    font-weight: 300;
}

.template {
    padding: 2% 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
    width: 100%;
}

.templates-div {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    width: 90%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6%;
    cursor: pointer;
}

.templates-div:hover {
    border: 1px solid rgb(31, 28, 206);
    background-color: rgb(31, 28, 206, 0.14);
}

.templates-div span {
    color: gray;
    font-size: small;
}

.password-display {
    margin: 5% 0;
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}
.password-display input{
    border: none;
    background: transparent;
    font-size: 18px;
    width: 100%;
    height: 70%;
    cursor: default;
}

.enable-input{
    cursor: text;

}


.password-display button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 80px;
    height: 35px;
    border-radius: 7px;
    font-size: 16px;
    padding: 4%;
    border: none;
    background-color: #0000FF;
    color: white;
    cursor: pointer;
}

.strongth-pass {
    background-color: rgb(235, 235, 235);
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 5px;
}

.strongth-text {
    display: flex;
    justify-content: space-between
}

.strongth-line {
    display: flex;
    gap: 1%;
}

.strongth-line div {
    background-color: rgb(188, 190, 188);
    width: 25%;
    height: 5px;
    border-radius: 5px;
}
#div1{
    background-color: rgb(235, 61, 55);
}
.selected {
    background-color: #4caf50;
    color: white;
  }
  
#generate-passw {
    width: 100%;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding: 1%;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Customiz Password Style */
.customize{
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding-bottom: 3%;
}
.arrange {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Track (the bar) */
input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    background: rgb(8, 170, 8);
    border-radius: 2px;
}

input[type="range"]::-moz-range-track {
    height: 4px;
    background: #4caf50;
    border-radius: 2px;
}

/* Thumb (the circle/handle) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 2px solid #4caf50;
    border-radius: 50%;
    margin-top: -6px;
    /* center on track */
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    background: #fff;
    border: 2px solid #4caf50;
    border-radius: 50%;
    cursor: pointer;
}

.toggle{
    --width:40px;
    --height: calc(var(--width)/2);
    --border-radious:calc(var(--height)/2);

    display: inline-block;
    cursor: pointer;
}

.toggle--input{
    display:none;
}

.toggle--fill{
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radious);
    background: #dddddd;
    transition: background 0.2s;
}

.toggle--input:checked ~ .toggle--fill{
    background: #4caf50;
}

.toggle--fill::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    border-radius: var(--border-radious);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition:  transform 0.2s;
}

.toggle--input:checked ~ .toggle--fill::after{
    transform: translateX(var(--height));
}

